
.logotipo {
    width: 50px;
    height: 50px;
}


header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
    text-align: center;
    background-color: #f3d1d1; /* Cor de fundo similar à da imagem */
    min-height: 80vh; /* Para garantir que o main ocupe a maior parte da tela */
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    text-align: center;
    width: 100%;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}


header, main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
